  
body {
    height: 100vh;
    margin: 0;
    color:transparent
}

canvas {
    display: block;
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
}
.home{
	min-height: 100vh;
	background-position: 1000px 500px; 
	background-attachment: fixed;
	background-image: url("images/drvrimages5.jpg");
	background-size:cover;
	background-position: center;
    padding:15px;
    background-color:transparent
}